
body{
  height: 100%;
  background: var(--background);
  color: var(--dark-contrast);
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: scroll;
}

.Nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10px 70px 10px;
  text-align: center;
}

:root {
  --primary-color: #243d3f;
  --secondary-color: #356958;
  --dark-contrast: #060e15;
  --light-contrast: #fff;
  --dark-grey: #b2aeae;
  --light-grey: #e8e8e8;
  --alarm-color: #aa1313;
  --save: #077b2e;
  --background: #d5d6d8;
  --shoppinglist: #ebd961;
  --shoppinglist-dark: #d0bb20;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden{
  display: none;
}


.wrapper {height: 100%;
    background: var(--background);
    color:  var(--dark-contrast);
    position: absolute;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}

.inputform{
  display: flex;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 200;
}

.edit_link{
  cursor: pointer;
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
}

.edit_link:before{
  content: "[";
}

.edit_link::after{
  content: "]";
}

p{
  padding: 10px 0;
}

  #amount{
      width: 60px;
  }

select:not(.checkbox) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid var(--primary-color);
    background-color: var(--light-grey);
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family:'Josefin Sans', sans-serif;
    color: var(--dark-contrast);
    transition-duration: 0.25s;
    font-weight: 300;
}

fieldset{
  padding: 10px;
  height: auto;
}


  .crossed{
      text-decoration: line-through;
  }

.checkbox_label{
  display: block;
  position: relative;
  padding-left: 5px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {    
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/****************/
/* Tables */
/****************/

table{
  width: 100%;
  text-align: center;
}


table .category_name{
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 50px;
}

table .recipe_name{
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
}

/* On mouse-over, add a grey background color */
.checkbox_label:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_label input:checked ~ .checkbox {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the  when checked */
.checkbox_label input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkbox/indicator */
.checkbox_label .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content{
  text-align: left;
}

button:not(.darkmode-toggle):hover {
  background-color: var(--secondary-color);
}

textarea,
#cooking{
  color: var(--dark-contrast);
  width: 100%;
  min-height: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

fieldset textarea{
  min-height: auto;
  margin: 0;
}

textarea{
  background: var(--dark-grey);
  border: none;
  padding: 8px;
}

button.save{
  background-color: var(--save);
}